{% extends "govuk/template.njk" %}

{% block pageTitle %}{{ 'Error: ' if errors and errors['parent-national-insurance'] }}What is your National Insurance number? – {{ serviceName }} – GOV.UK{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: serviceName,
    serviceUrl: "/"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}

    {% if errors and errors['parent-national-insurance'] %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errors['parent-national-insurance'], href: "#parent-national-insurance" }]
      }) }}
    {% endif %}

    <form method="post" novalidate>
      <input type="hidden" name="_csrf" value="{{ csrf }}">

    {{ govukInput({
      id: "parent-national-insurance",
      name: "parent-national-insurance",
      label: {
        text: "What is your National Insurance number?",
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: "It's on your National Insurance card, benefit letter, payslip or P60. For example, 'QQ 12 34 56 C'." },
      errorMessage: errors and errors['parent-national-insurance'] and { text: errors['parent-national-insurance'] },
      value: data['parent-national-insurance']
    }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>

  </div>
</div>
{% endblock %}
